XSLT_CADENAORIGINAL_V32 RCDATA "..\\Schemas\\3.2\\cadenaoriginal_3_2.xslt"
XSLT_CADENAORIGINALTFD_V33 RCDATA "..\\Schemas\\3.3\\cadenaoriginal_TFD_1_1.xslt"
XSLT_CADENAORIGINALTFD_V32 RCDATA "..\\Schemas\\3.2\\cadenaoriginal_TFD_1_0.xslt"
XSLT_CADENAORIGINAL_V33 RCDATA "..\\Schemas\\3.3\\cadenaoriginal_3_3.xslt"
